.activeButton {
    background-color: #fff;
    color: black;
}

.deactiveButton {
    background-color: #1A1A1A;
    border: 1px solid #2c2c2c;
    color: white;
}

.deactiveButton:hover {
    background-color: #FFBC00;
    color: black;
}

.slider-styled,
.slider-styled .noUi-handle {
    box-shadow: none;
}

.noUi-vertical {
    /* overflow: hidden; */
    width: 32%;
    background-color: #1A1A1A;
    border: 1px solid #2c2c2c;
}

.noUi-vertical .noUi-handle {
    background-color: #505050;
    border: 1px solid #707070;
    width: 10.4vw;
}

.noUi-vertical .noUi-handle::before {
    opacity: 0;
}

.noUi-vertical .noUi-handle::after {
    opacity: 0;
}

#slider .noUi-connect {
    background: #FFBC00;
}
